<section id="home">
	<a href="suborbital/">
		<div>
			<img src="img/homesub.jpg" alt="photo navette dans l'espace">
			<div class="overHome">
				<p>Goûtez au privilège de voir le monde depuis le seuil de l'espace.
				<br>Embarquez dès demain!</p>
				<div class="cta">Réservez! <i class="fas fa-user-astronaut"></i></div>
			</div>
			<p>Vol suborbital</p>
		</div>
	</a>
	
	<div class="stars"><i class="fab fa-galactic-senate"></i></div>
	
	<a href="lune/">
		<div>
			<img src="img/homemoon.jpg" alt="photo paysage lunaire">
			<div class="overHome">
				<p>Revivez l'aventure des plus grands astronautes du 21e siècle.
				<br>Un voyage chaque mois!</p>
				<div class="cta">Réservez! <i class="fas fa-user-astronaut"></i></div>
			</div>
			<p>Terre - Lune</p>
		</div>
	</a>
	
	<div class="stars"><i class="fab fa-galactic-senate"></i></div>
	
	<a href="mars/">
		<div>
			<img src="img/homemars.jpg" alt="photo navette et base marsienne">
			<div class="overHome">
				<p>Space X vous propose un séjour sur la première colonie Marsienne. 
				<br>Un voyage tous les 2 ans!</p>
				<div class="cta">Réservez! <i class="fas fa-user-astronaut"></i></div>
			</div>
			<p>Terre - Mars</p>
		</div>
	</a>
</section>