<!DOCTYPE html>
<html lang="fr">

<head>
	<meta name="description" content="<?= $pageDescription ?>"></meta>
	<title>Ad Astra - <?= $pageTitle ?></title>
	<base href="/Projet2/" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8" />
	<link rel="icon" href="img/favicon.png"/>
	<script src="https://kit.fontawesome.com/28e1129916.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body id="top">
	<?php include 'header.html'; ?>	

	<main>
		<?php include $page.'.html'; ?>
	</main>
	
	<?php include 'footer.html' ?>
</body>
</html>