<?php include 'views/menuh.html'; ?>

<section>
    <article id="details">
        <div><img src="img/sub.jpg" alt="photo navette dans l'espace"></div>
    	<div>
    	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et augue accumsan, pellentesque eros sit amet, tincidunt risus. Etiam lobortis odio dignissim diam rutrum, sed tempor urna posuere.</p>
        	<p>Aenean eu feugiat mi. Maecenas augue ligula, sagittis eu odio tempor, tincidunt condimentum massa. Proin accumsan urna quis vulputate laoreet.</p>
        	<p>Praesent ac 90 000e.</p>
        </div>
    </article>
    <article>
        <form id="contactForm">
            <fieldset>
                <legend>Contactez nous</legend>
                <div id="limitForm">
                    <label for="myName">Nom :</label>
                    <input type="text" name="myName" id="myName" required>
                    
                    <label for="myLname">Prénom :</label>
                    <input type="text" name="myLname" id="myLname" required>
                    
                    <label for="myMail">Mail :</label>
                    <input type="text" name="myMail" id="myMail" required>
                    
                    <label for="myMessage">Message :</label>
                    <textarea type="text" name="myMessage" id="myMessage" required></textarea>
                    
                    <input type="hidden" name="myDestination" id="myDestination" value="suborbital">
                    
                    <div id="errorForm"><p></p></div>
                    <button type="button" class="sendForm">
                        Valider
                    </button>
                </div>
            </fieldset>
        </form>
    </article>
</section>
